/* Core theme application */

a {
  @include link-colors(darken($color-accent, 20%), $hover: $color-complement, $focus: $color-complement, $active: $color-main);
}
aside.sidebar a {
  @include link-colors(darken($color-accent, 20%), $hover: $color-complement, $focus: $color-complement, $active: $color-main);
}
a {
  @include transition(color .3s);
}

html {
  background: $main-bg;
}
body {
  background: $page-bg;
  color: darken($color-complement, 30%);

  > header, > footer {
    background: darken($color-complement, 10%);
    background: rgba(darken($color-complement, 20%), .7);
    color: $color-accent;
    a {
      @include link-colors(lighten($color-accent, 10%), $hover: lighten($color-complement, 50%));

      &:hover {
        text-decoration: none;
      }
    }
  }
}

#content {
  article, .pagination {
    background: lighten($color-main, 10%);
    background: rgba(lighten($color-main, 20%), .75);
    border-radius: $border-radius;
  }

  section {
    background: lighten($color-main, 40%);
    background: rgba(lighten($color-main, 40%), .8);
    border-radius: $border-radius;
  }
}